    {% extends 'header.html' %}

    {% block head %}
    <link rel="icon" href="favicon.ico">
    
    <title>Login</title>
    {% endblock %}
    {% block intop %}
    <div style="background: #020001; height: 150px; margin-bottom: 20px;"></div>
    {% endblock %}
    {% block body %}
    <div class="container">
        <h1>Welcome</h1>
        <p>
            You can log in here!
        </p>
        <h2>Вход</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Войти</button>
        </form>
    </div>
    {% endblock %}